os: Visual Studio 2015

install:
  - ps: Start-FileDownload 'https://github.com/premake/premake-core/releases/download/v5.0.0-alpha7/premake-5.0.0-alpha7-windows.zip' 'premake.zip'

  # SDL2
  - ps: |
      $ARCH = "x64"
      $SDL_VERSION = "2.0.4"
      $SDL_PREFIX = "C:\sdl_root\SDL2-$SDL_VERSION"
      if (!(Test-Path -Path $SDL_PREFIX)) {
        Start-FileDownload https://libsdl.org/release/SDL2-devel-$SDL_VERSION-VC.zip
        7z x SDL2-devel-$SDL_VERSION-VC.zip -oC:\sdl_root\
      }
      $env:SDL_INCLUDE = "$SDL_PREFIX\include"
      $env:SDL_LIB = "$SDL_PREFIX\lib\$ARCH"

  # SDL2_ttf
  - ps: |
      $ARCH = "x64"
      $SDL_TTF_VERSION = "2.0.14"
      $SDL_TTF_PREFIX = "C:\sdl_root\SDL2_ttf-$SDL_TTF_VERSION"
      if (!(Test-Path -Path $SDL_TTF_PREFIX)) {
        Start-FileDownload https://libsdl.org/projects/SDL_ttf/release/SDL2_ttf-devel-$SDL_TTF_VERSION-VC.zip
        7z x SDL2_ttf-devel-$SDL_TTF_VERSION-VC.zip -oC:\sdl_root\
      }
      $env:SDL_TTF_INCLUDE = "$SDL_TTF_PREFIX\include"
      $env:SDL_TTF_LIB = "$SDL_TTF_PREFIX\lib\$ARCH"

  # SDL2_image
  - ps: |
      $ARCH = "x64"
      $SDL_IMAGE_VERSION = "2.0.1"
      $SDL_IMAGE_PREFIX = "C:\sdl_root\SDL2_image-$SDL_IMAGE_VERSION"
      if (!(Test-Path -Path $SDL_IMAGE_PREFIX)) {
        Start-FileDownload https://libsdl.org/projects/SDL_image/release/SDL2_image-devel-$SDL_IMAGE_VERSION-VC.zip
        7z x SDL2_image-devel-$SDL_IMAGE_VERSION-VC.zip -oC:\sdl_root\
      }
      $env:SDL_IMAGE_INCLUDE = "$SDL_IMAGE_PREFIX\include"
      $env:SDL_IMAGE_LIB = "$SDL_IMAGE_PREFIX\lib\$ARCH"



  # Extract it in-place; premake5.exe is at the top level.
  - 7z x premake.zip

  - premake5.exe vs2015

  - git submodule update --init --recursive

build:
  project: PantsSys.sln
