language: cpp

matrix:
  include:
      - os: linux
        compiler: gcc
        env: CONFIG=debug_linux BUILD_DIR=Debug
        addons:
          apt:
            sources: ['ubuntu-toolchain-r-test', 'ppa:zoogie/sdl2-snapshots']
            packages: ['g++-5', 'libsdl2-dev', 'libsdl2-ttf-dev', 'libsdl2-image-dev']

      - os: linux
        compiler: gcc
        env: CONFIG=release_linux BUILD_DIR=Release
        addons:
          apt:
            sources: ['ubuntu-toolchain-r-test', 'ppa:zoogie/sdl2-snapshots']
            packages: ['g++-5', 'libsdl2-dev', 'libsdl2-ttf-dev', 'libsdl2-image-dev']
        

      - os: linux
        compiler: clang
        env: CONFIG=debug_linux BUILD_DIR=Debug
        addons:
          apt:
            sources: ['ubuntu-toolchain-r-test', 'ppa:zoogie/sdl2-snapshots']
            packages: ['g++-5', 'libsdl2-dev', 'libsdl2-ttf-dev', 'libsdl2-image-dev']

      - os: linux
        compiler: clang
        env: CONFIG=release_linux BUILD_DIR=Release
        addons:
          apt:
            sources: ['ubuntu-toolchain-r-test', 'ppa:zoogie/sdl2-snapshots']
            packages: ['g++-5', 'libsdl2-dev', 'libsdl2-ttf-dev', 'libsdl2-image-dev']

      - os: osx
        compiler: clang
        env: CONFIG=release_osx BUILD_DIR=Release

      - os: osx
        compiler: clang
        env: CONFIG=debug_osx BUILD_DIR=Debug


git:
  submodules: false

before_install:
    - sed -i 's/git@github.com:/https:\/\/github.com\//' '.gitmodules'
    - git submodule update --init --recursive

before_script:
  - git clone https://github.com/sbx320/premake5-travis.git
  - chmod +x premake5-travis/premake5
  - ./premake5-travis/premake5 gmake

script:
  - make config=$CONFIG all
  - cd build/bin/$BUILD_DIR
  - ./PantsSimTest
  - ./PantsCLexerTest
  - ./PantsCParserTest
