language: cpp
compiler: gcc
os: linux

git:
  submodules: false

before_install:
    - sed -i 's/git@github.com:/https:\/\/github.com\//' .gitmodules
    - git submodule update --init --recursive
    - export CXX="g++-5" CC="gcc-5" GCOV="gcov-5"
    - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
    - sudo apt-get update
    - sudo apt-get install -qq g++-5
    - sudo apt-get install libsdl2-dev libsdl2-ttf-dev libsdl2-image-dev

env:
  - CONFIG=debug_linux
  - CONFIG=release_linux


before_script:
  - git clone https://github.com/sbx320/premake5-travis.git
  - chmod +x premake5-travis/premake5
  - ./premake5-travis/premake5 gmake

script:
  - make config=$CONFIG all

