language: cpp

matrix:
  include:
      - os: linux
        compiler: gcc
        env: CONFIG=debug_linux BUILD_DIR=Debug

      - os: linux
        compiler: gcc
        env: CONFIG=release_linux BUILD_DIR=Release

      - os: linux
        compiler: clang
        env: CONFIG=debug_linux BUILD_DIR=Debug

      - os: linux
        compiler: clang
        env: CONFIG=release_linux BUILD_DIR=Release

      - os: osx
        compiler: clang
        env: CONFIG=release_osx BUILD_DIR=Release

      - os: osx
        compiler: clang
        env: CONFIG=debug_osx BUILD_DIR=Debug


git:
  submodules: false

before_install:
    - sed 's/git@github.com:/https:\/\/github.com\//' -i.bu .gitmodules
    - git submodule update --init --recursive

    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y ; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-add-repository --yes ppa:zoogie/sdl2-snapshots; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get update                                    ; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install -qq g++-5                         ; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install libsdl2-dev                       ; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install libsdl2-ttf-dev libsdl2-image-dev ; fi
    

before_script:
  - git clone https://github.com/sbx320/premake5-travis.git
  - chmod +x premake5-travis/premake5
  - ./premake5-travis/premake5 gmake

script:
  - make config=$CONFIG all
  - cd build/bin/$BUILD_DIR
  - ./PantsSimTest
  - ./PantsCLexerTest
  - ./PantsCParserTest
